.inner { max-width: 86.5%; }

/* sections */
.section.blog .sticky .thumbnail { margin-right:0; }
.section.blog .sticky .meta p img { display:inline; }


/* blog */
.section.blog .sticky .meta { padding-left:9px; padding-top:0; padding-bottom:0; }  
.blog_big .thumbnail .date { display:none; }
.blog_big .thumbnail h1, .blog_big .thumbnail h2 { position:static; padding-left:0;width:auto; }
.blog_big .meta p { float:none; width:auto; }


/* contact forms */
.content .artcl_form li { width:95%; float:none; }
