input, button {
    -webkit-appearance: none;
}


#wrapper { min-width: inherit; overflow: hidden; }
.boxed #wrapper {
    padding: 0;
    width: 100%;
}

.inner {
    max-width: 96%;
    padding: 0 20px;
}

/* === HEADER */
#header .inner { max-width: 100%; padding:0; }
#header hr { width: 100%; }
#logo { margin-left: 20px !important; }
#sidebar_header { margin-right: 20px !important; }

/* === SIDEBAR */
/*.sidebar ul, .sidebar ol, .sidebar ul li, .sidebar ol li { max-width: 100%; }*/

/* === SLIDERS */

div.anythingSlider .back { padding-left: 2%; }
div.anythingSlider .forward { padding-right: 2%; }

.ls-layer .inner { 
    width:100%; 
}

/* === MENU */
/* #header .menu > ul {
    padding: 0px 20px;
    width: 101%;
}

#header .menu ul > li { padding: 0px 32px !important; }
#header .menu ul > li:last-child { padding-right: 0px !important; }
#header .menu > ul > li:first-child, #header .menu > ul > li:first-child > ul li  { padding-left: 0px !important; }

/* only for the live preview */
/*#header .menu > ul > li#menu-item-93 { padding-right: 0px !important; }

#header .menu ul li.remove-under-1024 { display: none; } */

/* === ALL SECTIONS */
.section .related_project {  }

/* === SECTION BLOG */
.sidebar_no .section.blog .post:not( .sticky ) { width: 30% !important; }


/* === RESPOND */
#respond p.form-submit { width: 100.8% !important; }
