.inner { max-width: 86.5%; }

/* sections */
.section.blog .sticky .thumbnail { margin-right:0; }
.section.blog .sticky .meta p img { display:inline; }


/* blog */
.section.blog .sticky .meta { padding-left:9px; padding-top:0; padding-bottom:0; }  
.blog-big .thumbnail .date { display:none; }
.blog-big .thumbnail h1, .blog-big .thumbnail h2 { position:static; padding-left:0;width:auto; }
.blog-big .meta p { float:none; width:auto; }


/* contact forms */
.content .contact-form li { width:95%; float:none; }

/* shortcodes */
.content blockquote { background-position: top left; padding:0; }  
.short-table table th, .short-table table td { padding:4px 2px; }
