.boxed #wrapper {
    padding: 0px;
    width: 100%;
}

.inner {
    max-width: 94%;
    padding: 0 20px;
}

/* === MENU */
#header .menu > ul { width: 94.6%; }
#header .menu ul li { padding: 0px 9px; }
#header .menu ul li { padding: 0px 10px !important; }
@media screen and (max-width: 750px) {
    .style-picker { display:none; }
    #logo { margin-left:0 !important; width:100%; text-align:center; }
    #sidebar_header { margin-right:0 !important; width:100% !important; }
    #sidebar_header p, #sidebar_header blockquote, #sidebar_header cite, #sidebar_header li { line-height: 1.41em; margin: 0 auto !important; width:94%; text-align:center; display:block; }
    #header .menu, #header hr { display:none; } 
    #header .menu-select { display:block; }   
    
}

/* === SECTION BLOG */
.section.blog .sticky .the_content { clear: both; }
.section.blog .post {
    float: none;
    margin-right: 0%;
    width: 100%;
}

/* === BLOG */
.blog_big .thumbnail .image-wrap img { width: auto; height: auto; max-width: 100%; }
