body{
    -webkit-text-size-adjust: none;
}

.inner {
    max-width:91.5%;
}

.sidebar_left .sidebar, 
.sidebar_right .content, 
.sidebar_no .content, 
.sidebar_right .sidebar, 
.sidebar_left .content, 
.sidebar_no .sidebar {
    width:100%;
    float:none;
}

/* blog */
.hentry_post.blog-small { margin-top:40px; }
.hentry_post.blog-small:nth-of-type(1) { margin-top:0; }     
#respond p { float:none; width:auto; margin-right:0; }
.sidebar_no #respond textarea { width:96.5%; }
.blog-small .the_content { clear:both; }

/* 404 */
.error-404-text input#s { width:60%; }